-
  let books = [
    {
      name: 'Железный король',
      rating: '3.8',
      img: `${pathContentImg}book-iron-king.jpg`,
      author: 'Кагава Д.',
      description : 'Меган удалось победить Железного короля, и теперь она во Дворце',
      pages: '416',
      width: '221',
      heidth: '221',
      link: 'iron-king.html'
    },
    {
      name: 'Лисья нора',
      rating: '4.2',
      img: `${pathContentImg}book-fox-hole.jpg`,
      author: 'Сакавич Н.',
      description : 'Команда Лисов—игроки экси, которые пытаются выиграть чемпионат мира',
      pages: '336',
      width: '221',
      heidth: '221',
      link: 'foxhole.html'
    },
    {
      name: 'Просто маса',
      rating: '3.5',
      img: `${pathContentImg}book-just-masa.jpg`,
      author: 'Акунин Б.',
      description : 'Масу ожидают невероятные потрясения и невероятные приключения',
      pages: '448',
      width: '221',
      heidth: '221',
      link: 'just-masa.html'
    },
    {
      name: 'Зеленый свет',
      rating: '3.9',
      img: `${pathContentImg}book-green-light.jpg`,
      author: 'Макконахи М.',
      description : 'Как быть честным. Как избежать стресса. Как радоваться жизни',
      pages: '320',
      width: '221',
      heidth: '221',
      link: '#'
    },
    {
      name: 'Солнце полуночи',
      rating: '3.5',
      img: `${pathContentImg}book-sun-midnight.jpg`,
      author: 'Майер С.',
      description : 'История любви и приключений от лица Эдварда',
      pages: '784',
      width: '221',
      heidth: '221',
      link: '#'
    },
    {
      name: 'Вторая жизнь Уве',
      rating: '4.4',
      img: `${pathContentImg}book-second-life.jpg`,
      author: 'Бакман Ф.',
      description : 'Откуда берутся зануды и склочники? Внутри зреет обида на мир',
      pages: '384',
      width: '221',
      heidth: '221',
      link: '#'
    },
    {
      name: 'Истребитель',
      rating: '3.9',
      img: `${pathContentImg}book-istrebitel.jpg`,
      author: 'Быков Д.',
      description : 'Роман о советских летчиках, "соколах Сталина"',
      pages: '576',
      width: '221',
      heidth: '221',
      link: '#'
    },
    {
      name: 'Лавр',
      rating: '4.1',
      img: `${pathContentImg}book-lavr.jpg`,
      author: 'Водолазкин Е.',
      description : 'Возможно ли любовью и жертвой спасти душу человека?',
      pages: '448',
      width: '221',
      heidth: '221',
      link: '#'
    }
  ];
