-
  var books = [
    {
      name: 'Жизнь в удовольствие',
      rating: '3.5',
      img: `${pathContentImg}a-life-of-pleasure.jpg`,
      author: 'Палиенко А.',
      description : 'Автор собрал в этой книге все свои знания, актуальные в современном мире',
      pages: '208',
      width: '275',
      heidth: '320',
      link: '#'
    },
    {
      name: 'Королевство',
      rating: '4.8',
      img: `${pathContentImg}book-kingdoms.jpg`,
      author: 'Несбё Ю.',
      description : 'В норвежском городке, затерянном в горах, течет сонная, мирная жизнь',
      pages: '576',
      width: '275',
      heidth: '320',
      link: '#'
    },
    {
      name: 'Transhumanism inc.',
      rating: '3.9',
      img: `${pathContentImg}book-transhumanism.jpg`,
      author: 'Пелевин В.',
      description : 'В будущем богатые люди смогут отделить свой мозг от старящегося тела',
      pages: '608',
      width: '275',
      heidth: '320',
      link: '#'
    },
    {
      name: 'Чувство стыда',
      rating: '4.1',
      img: `${pathContentImg}book-feelings-of-shame.jpg`,
      author: 'Санд И.',
      description : 'Это чувство сидит глубоко в нас, о нем не принято распространяться и обсуждать с близкими',
      pages: '170',
      width: '275',
      heidth: '320',
      link: '#'
    },
    {
      name: 'Тревожные люди',
      rating: '5.0',
      img: `${pathContentImg}books-anxious-people.jpg`,
      author: 'Бакман Ф.',
      description : 'Целая галерея уязвимых персонажей, тонко подмеченная Бакманом человеческая природа',
      pages: '416',
      width: '275',
      heidth: '320',
      link: '#'
    },
    {
      name: 'Sapiens',
      rating: '4.9',
      img: `${pathContentImg}book-sapiens.jpg`,
      author: 'Харари Ю.',
      description : 'Краткая история человечества. Какое будущее нас ожидает? Кто наши предки?',
      pages: '520',
      width: '275',
      heidth: '320',
      link: '#'
    },
    {
      name: 'Институт',
      rating: '4.8',
      img: `${pathContentImg}book-institute.jpg`,
      author: 'Кинг С.',
      description : 'Бежать невозможно. Будущее предопределено. Загадочная Дальняя половина Института',
      pages: '608',
      width: '275',
      heidth: '320',
      link: '#'
    },
    {
      name: 'Нормальные люди',
      rating: '4.7',
      img: `${pathContentImg}book-normal-peoples.jpg`,
      author: 'Руни С.',
      description : 'О желании ощутить власть над другим человеком и одновременно всецело принадлежать ему',
      pages: '288',
      width: '275',
      heidth: '320',
      link: '#'
    }
  ];
